.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown:hover .dropdown-background{
    display: block;
  }
  .dropdown:hover .dropdown-list{
    display: block;
  }
  .dropdown-background{
    display:none;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height: 100vh;
    z-index: 100;
  }
  .dropdown-list{
    display: none;
    background-color: pink;
    position:absolute;
    top:40px;
    right:20px;
    z-index: 110;
    
  }
  .dropdown-content {
    display: block;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    

  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}